

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: white;
}

header {
    background-color: #590B0B;
    color: white;
    padding: 1rem;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* background-color: #590B0B; */
}

nav ul li {
    margin: 0;
    padding: 0.5rem 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #590B0B;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
