body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    overflow-x: hidden;
}
header {
    display: flex;
    position: fixed;
    background-color: #800020;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navigation-bar-image {
    padding-left: 15px;
}

.navigation-bar-image img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.navigation-bar-list {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    justify-content: end;
    align-items: center;
    align-content: center;
}

.navigation-bar-list li a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    position: relative;
    top: 8px;
}

.navigation-bar-list li a:hover {
    color: #E0E0E0;
}

.navigation-bar-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
}

.navigation-bar-list li a:hover::after {
    width: 100%;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
.navigation-bar-list.active li {
    animation: fadeIn 0.3s ease-in-out;
}

@media (max-width: 952px) {
    .hamburger-menu {
        display: flex;
        position: absolute;
        right: 2rem;
    }

    .navigation-bar-list {
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 1rem 1rem;
        background-color: #800020;
        text-align: center;
        position: absolute;
        top: 6rem;
        right: 0.1rem;
        padding: 20px 0;
        font-weight: 400;
        border-radius: 18px;

        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3 ease-out, transform 0.3s ease-out;
    }

    .navigation-bar-list.active {
        visibility: visible; 
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .navigation-bar-list li {
        margin: 0.5rem 0;
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity 0.3 ease-out, transform 0.3s ease-out;
    }

    .navigation-bar-list.active li {
        opacity: 1;
        transform: translateX(0);
    }

    .navigation-bar-list li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 5px 20px;
        display: block;
        transition: color 0.3s ease;
        margin-right: 0px;
    }
    .navigation-bar-list li a::after {
        content: none;
    }
}


